body{
    background-color: rgb(3, 32, 26);
    color: white;
    font-size: medium;
    font-weight:900 ;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.avatar{
    width: 200px;
    border-radius: 28px;
    box-shadow:4px 4px 14px rqba (0,0,0,0,25);
}
.info p {
    color: brown;
    margin: 0;
    font-style: oblique ;
    font-weight: bold;
    text-decoration: underline;
    text-transform: capitalize ;


}

.social {
    background-color:rgb(255, 166, 0) ;
    padding: 15px;
    border: 5px solid burlywood;
    border-top: 20px;
    border-right-color:yellow;
}
.container {
    max-width: 750px;
    margin: auto;
}
